.body {
    background-color: red;
    border-width: 1px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}
.body > header {
    text-align: center;
    font-family: "Edwardian Script ITC", serif;
    font-size: 64px;
    color: yellow;
    border: solid yellow;
}
.sintlijst  {
    border: solid yellow;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: darkred;
    list-style: none;
    padding-left: 2em;
}
.sintlijst > li > h2{
    font-family: "Edwardian Script ITC", serif;
    font-size: 40px;
    color: orange;
    background-image: url("/Labo 7/Labo 7 Images/sinterklaas.png");
    padding-left: 50px;
    background-size: 30px;
    background-position: left center;
    background-repeat: no-repeat;
}
.sintlijst > li > ul > li {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: darkorange;
    list-style: none;
    margin-top: 2em;
    background-image: url("/Labo 7/Labo 7 Images/Mandarijn.PNG");
    padding-left: 50px;
    background-size: 30px;
    background-position: left center;
    background-repeat: no-repeat;
}