body > header{
    text-align: center;
    border-bottom: solid 2px #e1143c;
}
body > header > img{
    height: 100px;
    width: 100px;
}
nav{
    display: flex;
    grid-template-columns: repeat(4,auto);
    justify-content: space-around;
    background-color: #00124d;
}
nav > a{
    padding: 5px;
    align-items: center;
    text-decoration-line: none;
    color: #e1143c;
}
nav > a:hover{
    border-bottom: 2px solid #e1143c;
}
nav > a > p{
    display: none;
}
nav > a > img{
    height: 50px;
    width: 50px;
}
main > header{
    background-image: url("../images/als_je_t_mij_vraagt_14.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 550px;
    width: 100%;
    text-align: center;
}
main > h1{
    font-family: PT Sans sans-serif;
    color: #e1143c;
}
iframe{
    width: 330px;
}
.socials{
    background-color: #00124d;
    color: #e1143c;
    padding: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer > section > a{
    padding: 3px;
    align-items: center;
    text-decoration-line: none;
    color: #e1143c;
}
footer > section > a:hover{
    color: red;
}
@media screen and (min-width: 1000px){
    nav{
        height: 28px;
    }
    nav > a > img{
        display: none;
    }
    nav > a > p{
        display: block;
        margin: 0;
    }
}