body > header{
    text-align: center;
    border-bottom: solid 2px #e1143c;
}
body > header > img{
    height: 100px;
    width: 100px;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #00124d;
}
nav > a{
    padding: 5px;
    align-items: center;
    text-decoration-line: none;
    color: #e1143c;
}
nav > a:hover{
    border-bottom: 2px solid #e1143c;
}
footer > p{
    text-align: center;
}

.socials{
    background-color: #00124d;
    color: #e1143c;
    padding: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer > .socials > a{
    padding: 3px;
    align-items: center;
    text-decoration-line: none;
    color: #e1143c;
}
footer > .socials > a:hover{
    color: red;
}
footer > p{
    text-align: center;
}