/** Volgende CSS gaan we ze geven **/
.respimg {
    width: 100%;
    height: auto;
    display: block;
}
body{
    margin: 0;
    font-family: Helvetica, sans-serif;
}
body > header{
    text-align: center;
    border-bottom: #ebe8e8 solid 1px;
    width: 600px;
}
body > header > img{
    height: 50px;
}
body > nav{
    display: grid;
    grid-template-columns: repeat(7,auto);
    list-style: none;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}
body > nav > a{
    text-decoration-line: none;
    color: #5b4746;
    height: 13px;
    text-transform: uppercase;
    text-align: center;
    border-right: #ebe8e8 solid 1px;
}
body > nav >a:hover{
    text-decoration-line: underline;
    text-decoration-color: #fff100;
    text-decoration-thickness: 2px;
}
main > header{
    border-top: #ebe8e8 solid 1px;
    background-image: url("images/headerimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    color: white;
    text-shadow: #8D99AE 2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    position: relative;
}
main > section > h1{
    text-transform: uppercase;
    border-bottom: 3px solid black;
    width: 600px;
}
.recipe{
    margin-top: 50px;
    display: grid;
    gap: 15px;
    width: 600px;
}
.recipe > article{
    grid-column-start: 1;
    grid-column-end: 2;
}
.recipe > picture{
    grid-column-start: 2;
    grid-column-end: 3;
}
.Kicker{
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff4d56;
}
.Title{
    color: black;
    text-decoration-line: none;
}
.Body{
    color: #666;
    line-height: 2;
}
.Auteur{
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid #ebe8e8;
}
.timestamp{
    display: inline-block;
    padding-left: 10px;
}
.Recommended{
    margin-top: 50px;
    width: 600px;
}
.Recommended > div > picture{
    margin-bottom: 25px;
}
footer{

}

footer{
    display: block;
    border-top: 1px solid #ebe8e8;
}
#left{
    float: left;
    text-align: right;
    width: 50%;
    padding: 20px;
    line-height: 2em;
}
#right{
    float: right;
    text-align: left;
    background-color: black;
    color: white;
    width: 50%;
    padding: 20px;
    line-height: 2em;
}
@media screen and (min-width:770px) {
    body > header{
        width: 750px;
    }
    body > nav{
        width: 750px;
    }
    main > section > .recipe{
        width: 750px;
    }
    main > section > .Recommended{
        width: 750px;
    }
    main > section > h1{
        width: 750px;
    }
}
@media screen and (min-width: 800px){
    main > header{
        font-size: 5em;
    }
}
@media screen and (min-width:1000px) {
    body > header{
        width: 980px;
    }
    body > nav{
        width: 980px;
    }
    main > section > .recipe{
        width: 980px;
    }
    main > section > .Recommended{
        width: 980px;
    }
    main > section > h1{
        width: 980px;
    }
}