article:nth-child(odd){
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    border: black 1px solid;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}
article:nth-child(odd) > p > img{
    padding: 10px;
    margin: auto;
    float: left;

}

article:nth-child(even){
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    border: black 1px solid;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}
article:nth-child(even) > p > img{
    padding: 10px;
    margin: auto;
    float: right;
}

