a {
    background-image: url("Images Labo 6/Logo Chiro Aartrijke rood.png");
    padding-left: 20px;
    background-size: 15px;
    background-position: left center;
    background-repeat: no-repeat;
}