.colorDemo {
	width:200px;
	height:200px;
	border:1px solid black;
	margin: 25px;
}
main{
	display: flex;
	flex-direction: row;
}
.sliders{
	display: flex;
	flex-direction: column;
}
.sliders > section{
	display: flex;
	flex-direction: column;
}
